/* Footer.css */
.footer {
    background-color: #222;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin:auto;
    
}

.footer-content, .footer-social, .footer-legal {
    margin: 10px;
    flex: 1;
}
.folow{
    font-weight: bold;
    font-size: 20px;
}
.footer-social a {
    margin: 0 10px;
    font-size: 24px;
    color: white;
    transition: color 0.3s;
}

.footer-social a:hover {
    color: #ddd;
}
.foot{
    color: blueviolet;
}
.boot{
    color: chartreuse;
}

.footer-legal {
    text-align: center;
}

@media (max-width: 768px) {
    .footer-content, .footer-social, .footer-legal {
        flex-basis: 100%;
        text-align: center;
    }
}
